<!DOCTYPE html>
<html lang="cn" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>业主主页：物业管理系统</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link id="bs-css" th:href="@{/css/bootstrap-cerulean.min.css}" rel="stylesheet">

    <link th:href="@{/css/charisma-app.css}" rel="stylesheet">
    <link href='../../static/bower_components/fullcalendar/dist/fullcalendar.css' rel='stylesheet'>
    <link href='../../static/bower_components/fullcalendar/dist/fullcalendar.print.css' rel='stylesheet' media='print'>
    <link href='../../static/bower_components/chosen/chosen.min.css' rel='stylesheet'>
    <link href='../../static/bower_components/colorbox/example3/colorbox.css' rel='stylesheet'>
    <link href='../../static/bower_components/responsive-tables/responsive-tables.css' rel='stylesheet'>
    <link href='../../static/bower_components/bootstrap-tour/build/css/bootstrap-tour.min.css' rel='stylesheet'>
    <link href='../../static/css/jquery.noty.css' rel='stylesheet'>
    <link href='../../static/css/noty_theme_default.css' rel='stylesheet'>
    <link href='../../static/css/elfinder.min.css' rel='stylesheet'>
    <link href='../../static/css/elfinder.theme.css' rel='stylesheet'>
    <link href='../../static/css/jquery.iphone.toggle.css' rel='stylesheet'>
    <link href='../../static/css/uploadify.css' rel='stylesheet'>
    <link href='../../static/css/animate.min.css' rel='stylesheet'>

    <!-- jQuery -->
    <script th:src="@{/bower_components/jquery/jquery.min.js}"></script>

    <!-- The fav icon -->
    <link rel="shortcut icon" th:href="@{/img/favicon.ico}">

</head>

<body>
<div class="navbar navbar-default" role="navigation">

    <div class="navbar-inner">
        <button type="button" class="navbar-toggle pull-left animated flip">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" th:href="@{/user/customindex}">
            <img alt="Charisma Logo" th:src="@{/img/logo20.png}" class="hidden-xs"/>
            <span>物业管理系统</span>
        </a>

        <!-- user dropdown starts -->
        <div class="btn-group pull-right">
            <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                <i class="glyphicon glyphicon-user"></i>
                <span class="hidden-sm hidden-xs" th:text="${session.custom.getOaccount()}"></span>
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a th:href="@{/user/logout}">注销登录</a></li>
            </ul>
        </div>
        <!-- user dropdown ends -->
    </div>
</div>

<div class="ch-container">
    <div class="row">
        <div class="col-sm-2 col-lg-2">
            <div class="sidebar-nav">
                <div class="nav-canvas">
                    <div class="nav-sm nav nav-stacked"></div>
                    <ul class="nav nav-pills nav-stacked main-menu">
                        <li class="nav-header">功能</li>
                        <li><a class="ajax-link" href="/user/customindex"><i class="glyphicon glyphicon-home"></i><span> &ensp;首&ensp;页</span></a>
                        <li><a class="ajax-link" href="/user/NoticeList"><i class="glyphicon glyphicon-envelope"></i><span> &ensp;公&ensp;告&ensp;查&ensp;询</span></a>
                        <li><a class="ajax-link" th:href="@{/user/findCustomMaintainById(custom_id=${session.custom.getOid()})}"><i class="glyphicon glyphicon-wrench"></i><span> &ensp;报&ensp;修&ensp;管&ensp;理</span></a>
                        <li><a class="ajax-link" th:href="@{/user/findCustomById(oid=${session.custom.getOid()})}"><i class="glyphicon glyphicon-user"></i><span> &ensp;业&ensp;主&ensp;信&ensp;息</span></a>
                        <li><a class="ajax-link" th:href="@{/user/findCustomByIdToHouse(custom_id=${session.custom.getOid() })}"><i class="glyphicon glyphicon-list-alt"></i><span> &ensp;房&ensp;产&ensp;信&ensp;息</span></a>
                        <li><a class="ajax-link" th:href="@{/user/findByIdToCharge(custom_id=${session.custom.getOid() })}"><i class="glyphicon glyphicon-usd"></i><span> &ensp;收&ensp;费&ensp;管&ensp;理</span></a>
                        <li><a class="ajax-link" th:href="@{/user/toWalletByCustomOid(custom_oid=${session.custom.getOid()})}"><i class="glyphicon glyphicon-usd"></i><span> &ensp;我&ensp;的&ensp;钱&ensp;包</span></a>
                        <li><a class="ajax-link" href="/user/toFeedbackList"><i class="glyphicon glyphicon-home"></i><span> &ensp;业&ensp;主&ensp;反&ensp;馈&ensp;</span></a>
                        <li><a class="ajax-link" th:href="@{/user/log(custom_oid=${session.custom.getOid()})}"><i class="glyphicon glyphicon-usd"></i><span> &ensp;日&ensp;志</span></a>
                    </ul>
                </div>
            </div>
        </div>


        <div id="content" class="col-lg-10 col-sm-10">
            <div>
                <ul class="breadcrumb">
                    <li><a th:href="@{/user/customindex}">首页</a></li>
                </ul>
            </div>

            <div class="row">
                <div class="box col-md-12">
                    <div class="box-inner">
                        <div class="box-header well">
                            <h2>
                                <i class="glyphicon glyphicon-bell"></i> 欢迎
                            </h2>
                            <div class="box-icon">
                                <a href="#" class="btn btn-minimize btn-round btn-default"><i class="glyphicon glyphicon-chevron-up"></i></a> <a href="#" class="btn btn-close btn-round btn-default"><i class="glyphicon glyphicon-remove"></i></a>
                            </div>
                        </div>
                        <div class="box-content row">
                            <div class="col-lg-7 col-md-12">
                                <h1>
                                    <span th:text="${session.custom.getOname()}"></span>
                                </h1>
                                <script language="javascript">
                                    var now = new Date();
                                    var hour = now.getHours();
                                    var greeting = "";

                                    if(hour < 6){ greeting = "凌晨好！"; }
                                    else if (hour < 9){ greeting = "早上好！"; }
                                    else if (hour < 12){ greeting = "上午好！"; }
                                    else if (hour < 14){ greeting = "中午好！"; }
                                    else if (hour < 17){ greeting = "下午好！"; }
                                    else if (hour < 19){ greeting = "傍晚好！"; }
                                    else if (hour < 22){ greeting = "晚上好！"; }
                                    else { greeting = "熬夜人万岁！"; }

                                    document.getElementById("greeting").innerHTML = greeting;
                                </script>
                                <br>
                                <span id="greeting"></span>
                                <small>欢迎使用物业管理系统！</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box col-md-12">
                    <div class="box-inner">
                        <div class="box-header well">
                            <h2>
                                <i class="glyphicon glyphicon-bell"></i> 最新公告
                            </h2>
                            <div class="box-icon">
                                <a href="#" class="btn btn-minimize btn-round btn-default"><i class="glyphicon glyphicon-chevron-up"></i></a> <a href="#" class="btn btn-close btn-round btn-default"><i class="glyphicon glyphicon-remove"></i></a>
                            </div>
                        </div>
                        <div class="box-content">
                            <div class="page-header">
                                <h3 th:text="${session.notice.title}"><br>
                                </h3>
                                <h3>日期：<p th:text="${session.notice.pubDate}"></p>发布者：<p th:text="${session.notice.publisher}"></p></h3>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <p th:text="${session.notice.content}">
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- external javascript -->
<script th:src="@{/js/validator.min.js}"></script>
<script th:src="@{/bower_components/bootstrap/dist/js/bootstrap.min.js}"></script>

<!-- library for cookie management -->
<script th:src="@{/js/jquery.cookie.js}"></script>
<!-- calender plugin -->
<script src='../../static/bower_components/moment/min/moment.min.js'></script>
<script src='../../static/bower_components/fullcalendar/dist/fullcalendar.min.js'></script>
<!-- data table plugin -->
<script th:src="@{/js/jquery.dataTables.min.js}"></script>

<!-- select or dropdown enhancer -->
<script th:src="@{/bower_components/chosen/chosen.jquery.min.js}"></script>
<!-- plugin for gallery image view -->
<script th:src="@{/bower_components/colorbox/jquery.colorbox-min.js}"></script>
<!-- notification plugin -->
<script th:src="@{/js/jquery.noty.js}"></script>
<!-- library for making tables responsive -->
<script th:src="@{/bower_components/responsive-tables/responsive-tables.js}"></script>
<!-- tour plugin -->
<script th:src="@{/bower_components/bootstrap-tour/build/js/bootstrap-tour.min.js}"></script>
<!-- star rating plugin -->
<script th:src="@{/js/jquery.raty.min.js}"></script>
<!-- for iOS style toggle switch -->
<script th:src="@{/js/jquery.iphone.toggle.js}"></script>
<!-- autogrowing textarea plugin -->
<script th:src="@{/js/jquery.autogrow-textarea.js}"></script>
<!-- multiple file upload plugin -->
<script th:src="@{/js/jquery.uploadify-3.1.min.js}"></script>
<!-- history.js for cross-browser state change on ajax -->
<script th:src="@{/js/jquery.history.js}"></script>
<!-- application script for Charisma demo -->
<script th:src="@{/js/charisma.js}"></script>
</body>
</html>
